@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');

@font-face {
      font-family: 'Foobar';
      font-style: normal;
      font-weight: normal;
      src: local('Foobar Pro Regular'), url('../fonts/Foobar\ Pro-Regular.woff') format('woff');
      font-display: swap;
}


:root {
      --primary: #95d1cc;
      --secondary: #22577e;
      --white: #f9f9f9;
      --border-radius: 5px;
      --box-shadow-default: 1px 1px 30px -10px rgba(0, 0, 0, .7);
}


/********************RESET CSS DEFAULT= TOUS LES ELEMENTS PAR DEFAUT***************************/
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

/********************************STRUCTURE ********************************/

a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
}

.container {
      width: 90%;
      margin: auto;
}

/********************************NAVBAR****************/

.navbar {
      background-color: var(--primary);
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 9999999;
      text-decoration: none;
      color: red;
}

.navbar-content {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo {
      width: 50px;
}

.line {
      display: flex;
      gap: 15px;
      list-style: none;
}

.banner {
      display: flex;
      align-items: center;
      /*a mettre sur le parents centre au milleu de la page********************************/
}

.btn {
      background-color: blue;
      border-radius: 30px;
      padding: .5em;

}

.telephone1,
.telephone_1 {
      margin-top: 5em;
      text-align: center;
      position: relative;
      width: 50%;

}

.banner-content,
.telephone1 {
      width: 48%;
}

/* .telephone1 img {
      position: relative;
      z-index: 1;
} */

.bg-square-about-1 {
      background-color: blue;
      width: 65%;
      height: 88%;
      position: absolute;
      border-radius: 50%;
      top: 10%;
      left: 18%;
      z-index: -1;
}

.bg-square-about-2 {
      background-color: blue;
      width: 2%;
      height: 2%;
      border-radius: 50%;
      position: absolute;
      top: 1%;
      left: 79%;
}

.bg-square-about-3 {
      background-color: blue;
      width: 1%;
      height: 3%;
      border-radius: 120px;
      position: absolute;
      top: 93%;
      right: 79%;
      rotate: 45deg;
}

.bg-square-about-4 {
      background-color: blue;
      width: 1%;
      height: 3%;
      border-radius: 120px;
      position: absolute;
      top: 93%;
      right: 79%;
      rotate: 135deg;
}


.logo {
      width: 20%;
}

.banner-content h1 {
      font-size: 4em;
}

.banner-content p {
      font-size: 1.5em;
}

.logo {
      margin-top: 2em;
}

/*********************************BANNER********************************/
.banner2 {
      background: rgb(46, 37, 200);
      background: linear-gradient(76deg, rgba(46, 37, 200, 1) 0%, rgba(145, 0, 255, 1) 100%);
      width: 98%;
      margin: auto;

}

.banner_2 {
      margin: 2em;
      color: wheat;
      font-size: 2.5em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 8em;

}

.logo2 {
      flex-direction: column;
      width: 17%;
      margin-top: 1em;
}

.narrowbanner_2 {
      width: 60%;
      margin: auto;
}

/**************************************************BANNER2*******************************/
.telephone_1 .bg-square-about-1 {
      background-color: blue;
      width: 65%;
      height: 88%;
      position: absolute;
      border-radius: 50%;
      top: 5%;
      left: 3%;
      z-index: -1;
}

.telephone_1 .bg-square-about-2 {
      background-color: blue;
      width: 2%;
      height: 2%;
      border-radius: 50%;
      position: absolute;
      top: 1%;
      left: 79%;
}

.telephone_1 .bg-square-about-3 {
      background-color: blue;
      width: 1%;
      height: 3%;
      border-radius: 120px;
      position: absolute;
      top: 93%;
      right: 79%;
      rotate: 45deg;
}

.telephone_1 .bg-square-about-4 {
      background-color: blue;
      width: 1%;
      height: 3%;
      border-radius: 120px;
      position: absolute;
      top: 93%;
      right: 79%;
      rotate: 135deg;
}